/* Font color */
$C-white : #ffffff;
$C-main : #0fbe7b;
$C-desc : #94979c;
$C-about-title : #293239;
$C-item : #95999c;
$C-form-field-focus : #666666;

/* Border color */
$B-about : #e6e7e9;
$B-btn-secondary : $C-desc;
$B-form-field-focus : #d5d6d8;
$B-nav-focus : #d5d6d8;
$B-navbar-toggle : #444444;

/* Background color */
$BG-main : $C-main;
$BG-grey : $C-desc;
$BG-secondary : #f4f6f5;
$BG-form-field-error : #f4eadb;
$BG-footer : #293239;
$BG-white : #ffffff;
$BG-work-nav : #f4f6f5;