/* New contact section */
.newContact {
	padding: 50px 0;
	text-align: center;
	background:
	linear-gradient(
					rgba(18, 43, 64, 0.6),
					rgba(18, 43, 64, 0.6)
	),
	url("bg/bg-new-contact.jpg") no-repeat center center fixed;
	@include _css3( background-size, cover);

	/* Mobile */
	@media (max-width: $screen-xs-max) {
		padding: 30px 0;

		background:
		linear-gradient(
						rgba(18, 43, 64, 0.6),
						rgba(18, 43, 64, 0.6)
		),
		url("bg/bg-new-contact.jpg") no-repeat center center;
	}
}

.newContact__title {
	@extend .font--primary;
	margin: 10px 0 5px;

	font-size: 2.2em;
	font-weight: 600;
	color: white;

	/* Mobile */
	@media (max-width: $screen-xs-max) {
		font-size: 1.9em;
	}
}

.newContact__desc {

	@extend .font--primary;

	margin: 5px 0 10px;

	font-size: 1.9em;
	font-weight: 300;
	color: white;

	/* Mobile */
	@media (max-width: $screen-xs-max) {
		margin: 10px 0 0;
		font-size: 1.4em;
		line-height: 1.2;
	}
}

.newContact__btn {

	margin: 20px 0;
	text-transform: uppercase;

	.icon{
		margin-right: 10px;
	}
}

/* Contact section */
.contact{
	@include _box-shadow(0 1px 1px rgba(0,0,0,.2));
	position: relative;
	z-index: 11;

	padding: 0 0 50px 0;
}

.contact__infos{

	position: relative;

	/* Mobile & Tablet */
	@media (max-width: $screen-sm-max) {
		text-align: center;
	}
}

.contact__infosItem{

	margin: 15px 0;

	/* Mobile  */
	@media (max-width: $screen-xs-max) {
		margin: 5px 0;
	}

	a{
		@include _css3(transition,all 250ms);
		@extend .font--primary;
		position: relative;
		display: block;
		padding-left:65px;
		padding-top:12px;
		padding-bottom: 12px;

		font-size: 1.2em;
		font-weight: 300;
		color: $C-item;

		/* Mobile & Tablet */
		@media (max-width: $screen-sm-max) {
			padding: 12px 0;
		}

		.icon {
			@include _css3(transition,all 250ms);
			@include _round(50px);

			position: absolute;
			top: 0; left: 0;

			line-height: 45px;

			text-align: center;
			font-size: 24px;
			color: lighten($C-item,15%);

			border: 3px solid lighten($C-item,15%);

			/* Tablet */
			@media (max-width: $screen-sm-max) {
				display: block;
				margin: 0 auto 10px;
				position: relative;
			}
		}

		/* No touch device */
		.is--notouch &:hover,&:active{

			color: $C-main;
			text-decoration: none;

			.icon{
				color: $C-main;
				border: 3px solid $C-main;
			}
		}
	}

	&:first-child a {
		padding-top:3px;
	}

}

.contact__form{

	textarea,
	input{
		@include _border-radius(3px);
		@include _css3(transition,all 250ms);

		margin: 15px 0;
		padding: 10px 10px 8px 10px;

		width: 100%;

		border-width: 2px;
		border-style: solid;
		border-color: white;
		background-color: $BG-secondary;

		&:focus {
			border-color: $B-form-field-focus;
			color: $C-form-field-focus;
			background-color: white !important;
		}

		&.is--required {
			background-color : $BG-form-field-error;
		}

		/* Mobile */
		@media (max-width: $screen-xs-max) {
			margin: 5px 0;
			padding: 15px 15px 13px 15px;
		}
	}

	textarea{
		min-height: 250px;
		resize: none;
	}
}

.contact__formSend{
	margin: 10px 0;
	padding: 10px 20px;

	/* Mobile */
	@media (max-width: $screen-xs-max) {

		margin: 10px 0 0;
		padding: 10px 0;

		width: 100%;
	}
}

/* Hack for autofill Chrome */
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px $BG-secondary inset;
}
input:-webkit-autofill:focus{
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}